.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
}
.cover-image {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100%;
}
.site-header {
  text-align: center;
  padding: 10px 0;
  background-color: black;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
